.main {
  position: relative;
  padding: 1rem;
  height: 100%;

  .mainTitle {
    margin-bottom: 1rem;
  }

  .introText {
    margin-bottom: 2rem;
    max-width: 40rem;
  }
}

@media (min-width: 48rem) {
  .main {
    padding: 2rem;
  }
}
