.main {
  position: relative;
  padding: 2rem;
  height: 100%;
  //ackground-color: white;

  .mainTitle {
    margin-bottom: 1rem;
  }
  .introText {
    margin-bottom: 2rem;
    max-width: 40rem;
  }
}