.more {
  .button {
    background: none;
    border: none;
    color: var(--primary-color);
    .buttonLabel {
      text-decoration-line: underline;
      text-decoration-style: dotted;
    }
    &::before {
      content: "► ";
      font-size: 0.8rem;
      cursor: pointer;
      color: var(--color-text);
    }
    &.opened {
      &::before {
        content: "▼ ";
        color: var(--color-text);
      }
    }
  }
}

.moreWysiwyg {
  color: var(--color-text-light);
  font-size: var(--font-size-xs);
}
