.webformInput {
  //background: red;
}

.fieldWrapper {
  //background: yellow;
}

.fieldTextInput {
  //background-color: red;
}

.textfield {
  //background-color: #0a6eb4;
}

.layout {
  background: red;
}

.layoutInner {
  background: #1aecd5;
}

.layoutTitle {
  background: pink;
}

.fieldError {
  input {
    border: .125rem solid blue;
  }
}

.fieldDescription {
  //background-color: yellow;
}

.inputBase {
  //background-color: yellow;
}

.number {
  //background-color: #1aecd5;
}

.select {
  background-color: red;
}


.actionsContainer {
  background-color: red;
}

.actionsButtonPrev {
  background: yellow;
}

.actionsButtonNext {
  background: pink;
}