
:root {
  --border-color: #222330;
  --border-form-element: #8e929c;
  --color-text: #222330;
  --color-text-light: #545560;
  --color-focus: #007dfa99;
  --background: #F9FBFE;
  --foreground: #171717;
  --primary-color: #2f6dd0;
  --primary-color-light: #2f6dd026;
  --danger: #cc3d3d;

  // fonts
  --font-size-xxs: .75rem;
  --font-size-xs: .79rem;
  --font-size-s: .875rem;
  --input-font-size: 1rem;
  --font-weight-semibold: 525;

  //focus
  --color-focus-border: #00000033;

  // form element title
  --color-title: #222330;

  // button
  --color-button-text: #fff;

  // input
  --input-bg: #fff;
  --input-padding-vertical: .75rem;
  --input-pading-horizontal: .75rem;
  --input-line-height: 1.5rem;
  --input-focus: #007dfa80;
  --input-border-color: #919297;

  //other
  --bg-gray-light: #545560;
  --bg-gray-light-transparent: #54556040;
}


@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}