.customLabel {
  background-color: purple;
}

.errorFieldMessage {
  background-color: #0c645f !important;
}

.wrapperCustom {
  background-color: #1aecd5;
}

.input {
  border-radius: 1rem;
  height: 3rem;
  padding: 0 1rem;
}

.fieldError {
  border: .2rem solid green !important;
}

.customForm {
  display: block;
}