.customWebformForm {
  :global(.webform-layoutList) {
    display: grid;
    grid-template-columns: 1fr;
    gap: 1rem;

    @media (min-width: 1024px) {
      grid-template-columns: repeat(2, 1fr);
    }
  }
}

.customMore {
  display: none;
}
