.multiStepStepper {
  margin-bottom: 2rem;
  .headerStepperContainer {
    display: flex;
    justify-content: space-between;
    .title {
      display: inline-block;
      font-size: 1.2rem;
      font-weight: bolder;
      margin-bottom: 1rem;
      /**
      mq-up
       */
    }
    .multiStepStepperCounter {
      display: flex;
      align-items: center;
      font-size: .8rem;
      font-weight: bolder;
    }
  }
  .progressBarContainer {
    position: relative;
    height: .6rem;
    width: 100%;
    border-radius: 10rem;
    overflow: hidden;
    background-color: var(--bg-gray-light-transparent);
    .progressBar {
      position: absolute;
      height: 100%;
      border-top-right-radius: 10rem;
      border-bottom-right-radius: 10rem;
      transition: width .5s cubic-bezier(.4,0,.2,1);
      background-color: var(--bg-gray-light);
    }
  }
}