.multiStepStepper {
  margin-bottom: 2rem;
  .title {
    display: inline-block;
    font-size: 1.2rem;
    font-weight: bolder;
    margin-bottom: 1rem;
    /**
    mq-up
     */
  }
  .progressBar {
    height: .6rem;
    width: 100%;
    border-radius: 10rem;
    background-color: var(--bg-gray-light-transparent);
  }
}