.multiStepActions {
  position: relative;
  display: flex;
  flex-direction: row;
  gap: 1rem;
  .button {
    display: flex;
    gap: .5rem;
    align-items: center;
    justify-content: center;
    width: calc(50% - .5rem);
  }
}